<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <button>Voltar</button>
    <br> <br>
    <div>
        <label for="frontal">linha frontal</label>
        <input type="file" name="" id="frontal">
        <br><br>
        <label for="entradas">entradas</label>
        <input type="file" name="" id="entradas">
        <br><br>

        <label for="mid_scalp">mid_scalp</label>
        <input type="file" name="" id="mid_scalp">
        <br><br>

        <label for="coroa">coroa</label>
        <input type="file" name="" id="coroa">
    </div>

    <br>
    <div>
        <label for="tratamento">Tratamento atual</label>
        <select name="" id="tratamento">
            <option value="formulaA">Fórmula A</option>

        </select>
    </div>

    <div>
        <label for="">Estado</label>
    </div>


</body>
</html>